@import url(./reset.css);

header{
    
    background-image: url('../imagens/Header.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 459px;
    width: 1280px;
    margin: auto;
}

header h1 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    color: #ffff;
    font-size: 4rem;
    padding: 25px;
}

header p {
    font-family: 'Open Sans', sans-serif;
    color:#ffff;
    max-width: 900px;
    margin: auto;
    text-align: center;
}


#Windows{
    
    background-color: #ffff;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;    
}

#navegador{
    background-color: #23272A;
    height: 40px;
    width: 300px;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    color:#ffff;
    
}

@media screen and (min-width: 280px) and (max-width:900px){
    
    header{
    width: 100vw;
    background-size: auto;
    margin: 0;
    background-image: url(../imagens/Header.png);
    background-size: cover;
    background-position: center;
    }


    header h1{
        flex-wrap: wrap;
        font-size: 2rem;
        text-align: left;
        padding: 20px 20px 0px 20px;
    }

    header p{
        flex-wrap: wrap;
        text-align: left;
        font-size: 1rem;
        padding: 20px 20px 0px 20px;
    }

    #Windows {
        width: 90%;
        margin-left: 5%;
        margin-top: 3%;
    }
    #navegador{
        width: 90%;
        margin-left: 5%;
        margin-top: 3%;
    }
}

#container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 40px 0;
    gap: 100px;
    
}

#article_1 {
    display: flex;
    object-fit: none;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    padding-top: 40px;
    
}

#article_2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    align-items: center;
}

#article_3{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#article_4{
    display: block;
    text-align: center;
    margin-top: 10vh;
    background-color: #F6F6F6;
    padding-top: 50px;
    flex-wrap: wrap;
}

.text{
    display: block;
    width: 49%;
    height: 100%;
}

main h2{
    font-weight: 800;
    max-width: 100%;
    height: 70%;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    padding: 0 20%;
}

main p{
    height: 30%;
    max-width: 100%;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    padding: 0 20% ;
}

footer{
    background-color: #23272A;
    padding: 20px;
    text-align: center;
}
img{
    object-fit: contain;
    max-width: 100%;
}

@media screen and (min-width: 280px) and (max-width:900px){
    #container{
       width: 100vw;
       text-align: left;
    }

    main p , h2{
        text-align: left;
        max-width: 100%;
        margin: 0;
        font-size: 1rem;
    }

    .text{
       width: 100vw;
        width: 100vw;
    }

    }
    #article_1, #article_2, #article_3, #article_4{
        max-width: 100vw;
    }

    img{
        object-fit: contain;
}